
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:769px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:769px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
html{
	color: #fff;
	background: #000;
	font-size: 16px;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	font-family: san-serif;
	line-height: 1.8;
}
a{
	color: #fff;
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 4rem auto 0;
	height: auto;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}
/* @media screen and (min-width:1540px) {
	.container{max-width: 1480px;}
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	.container{max-width: 1280px;}
} */
@media screen and (min-width:768px) and ( max-width:1279px) {
	html{
		font-size: 14px;
	}
	.container{
		max-width: none;
	}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--colorname: ;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.waku{
	display: inline-block;
	color: #000;
	background: #f6c900;
}
.waku a,
.waku p{
	font-size: 1.8rem!important;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	line-height: 1;
	color: #040000;
	padding: 1rem 2rem;
	letter-spacing: 0.2rem;
}
.waku a{
	position: relative;
	background: #fff;
	border: solid 3px #040000;
	z-index: 10;
}
.waku.blue a{
	border: solid 3px #0084b2;
}
.waku.bk a{
	color: #fff;
}
.waku.bk a:hover{
	color: #040000;
}
.waku a::after,
.waku a::before{
	position: absolute;
	width: 50%;
	height: 100%;
	top:0;
	content: '';
	z-index: -1;
	transition: .15s transform .15s,.15s left,.15s right;
}
.waku.blue a::after,
.waku.blue a::before{
	background: #0084b2;
}
.waku.bk a::after,
.waku.bk a::before{
	background: #040000;
}
.waku a:hover::before,
.waku a:hover::after{
	transform:scaleY(0.02);
	transition: .15s transform,.15s left .15s,.15s right .15s;
}
.waku.blue a:hover::before{
	left:-44%;
}
.waku.blue a:hover::after{
	right: -44%;
}
.waku.bk a:hover::before{
	left: -46%;
}
.waku.bk a:hover::after{
	right: -46%;
}
.waku a::before{
	left:0;
}
.waku a::after{
	right: 0;
}
.waku .notice{
	font-size: 1rem;
	vertical-align: super;
	margin-right: 1.5rem;
}
.waku .ancle{
	margin-left: 1rem;
}
.bnr{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem 0;
}
.bnr a:first-of-type{
	margin-right: 0.75rem;
}
.slider,
.slider02{
	position: absolute;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	z-index: -1;
}
.slider li,
.slider02 li{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 1;
}
.slider li:nth-of-type(1),
.slider02 li:nth-of-type(1){
	z-index: 10;
}
.slider li:nth-of-type(2),
.slider02 li:nth-of-type(2){
	z-index: 9;
}
.fadein{
	opacity: 0.1;
	transform: translate(0,200px);
	transition: 1s cubic-bezier(0,.78,.65,.98);
}
.fadein02{
	opacity: 0;
	transform: translate(0,200px);
	transition: 1s 4.4s;
}
.fadein.active,
.fadein02.active{
	opacity: 1;
	transform: translate(0,0);
}
.fade01{
	opacity: 0;
	transition: .6s .3s;
}
.fade02{
	opacity: 0;
	transition: .9s 1.2s;
}
.fade03{
	opacity: 0;
	transition: 1.2s 2.4s;
}
.fade04{
	opacity: 0;
	transition: 1.5s 3.4s;
}
.fade01.active,
.fade02.active,
.fade03.active,
.fade04.active{
	opacity: 1;
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	.waku a,
	.waku p{
		line-height: 1.4!important;
		padding: 1rem 1.5rem;
		letter-spacing: 0.1rem;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 55000;
}
.header_in{
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transition: .3s;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
header nav{
	display: none;
	position: absolute;
	top: 4rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 1920px;
	z-index: 55000;
}
header nav.active{
	display: block;
	background: rgba(0, 0, 0, 0.9);
}
header nav ul{
	display: flex;
	justify-content: center;
}
header nav li{
	width: 20%;
}
header nav li a{
	position: relative;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	display: block;
	padding: 0.75rem 1rem;
	letter-spacing: 0.1rem;
	transition: .3s;
	width: 100%;
	text-align: center;
}
header nav ul li a:hover{
	color: #040000;
}
header nav ul li a,
header nav ul li a::before,
header nav ul li a::after{
	transition: all .3s;
}
header nav ul li a::before,
header nav ul li a::after{
	position: absolute;
	content: '';
	z-index: -1;
	display: block;
	top: 0;
	width: 0;
	height: 100%;
	background: #0084b2;
}
header nav ul li a::before{
	right: 50%;
}
header nav ul li a::after{
	left: 50%;
}
header nav ul li a:hover::before,
header nav ul li a:hover::after{
	width: 50%;
}
header.active nav ul li a{
	color: #fff;
}
header.active nav ul li a::before,
header.active nav ul li a::after{
	width: 0;
	background: #fff;
}
header.lower nav ul li a:hover,
header.active nav ul li a:hover{
	color: #fff;
}
header.lower nav ul li a:hover::before,
header.lower nav ul li a:hover::after,
header.active nav ul li a:hover::before,
header.active nav ul li a:hover::after{
	width: 50%;
}

.menu_open{
	width: 3rem;
	height: 100%;
	position: relative;
}
.menu_open span{
	position: absolute;
	top:50%;
	left:50%;
	background: #fff;
	width: 40%;
	height: 2px;
	transition: .3s;
}
.menu_open span:nth-of-type(1){transform:translate(-50%,-50%) translateY(3.5px);}
.menu_open span:nth-of-type(2){transform:translate(-50%,-50%) translateY(-3.5px);}
.menu_open.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.menu_open.active span:nth-of-type(2){transform:translate(-50%,-50%) rotate(-45deg);}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	padding: 2rem 0;
}
footer p{
	font-size: 0.8rem;
	line-height: 2.2;
	text-align: center;
}
footer .box{
	position: relative;
	display: flex;
	margin-top: 6rem;
	justify-content: center;
}
footer .copyright{
	font-size: 0.8rem;
}
footer .ad_number{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: inline-block;
	line-height: 1;
	padding: 0.25rem 0.5rem;
	border: solid 1px #fff;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .video_wrap{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.top01 .video_wrap::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../images/top/bg.png) center center / cover no-repeat;
	z-index: 2;
}
.top01 .video_wrap::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
	z-index: 3;
}
.top01 .video_wrap #video01{
	max-width: 100%;
	width: 100%;
	z-index: -1;
}
.top01 .video_wrap .txt{
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 1280px;
	width: 65%;
	z-index: 4;
}
.top01 .video_wrap .txt .box{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 5px transparent;
	padding: 3rem;
	transition: 1.5s 3.4s;
}
.top01 .video_wrap .txt .box.active{
	border: solid 5px #fff;
}
.top01 .video_wrap .txt .box .img{
	width: 38%;
}
.top01 .video_wrap .txt .box .img01{
	margin-right: 1rem;
}
.top01 .video_wrap .txt .box .img02{
	margin-left: 1rem;
}
.top01 .video_wrap .txt .box span{
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
}
.top01 .video_wrap .txt .box span::before,
.top01 .video_wrap .txt .box span::after{
	position: absolute;
	content: '';
	display: block;
	width: 110%;
	height: 1px;
	background: #fff;
	top: 14%;
	left: 14%;
	transform: rotate(45deg);
	transform-origin: 0% 55%;
}
.top01 .video_wrap .txt .box span::after{
	left: auto;
	right: 14%;
	transform: rotate(-45deg);
	transform-origin: 100% 55%;
}
.top01 .video_wrap .txt .box .vr_zone_logo{
	position: absolute;
	bottom: -2rem;
	right: -2rem;
	width: 11rem;
}
.top01 .video_wrap .txt .box .vr_zone_logo img{
	width: 100%;
}
.top01 .video_wrap .txt p{
	font-size: 2rem;
	letter-spacing: 0.2rem;
	text-align: center;
	margin-top: 3rem;
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	.top01 .video_wrap .txt .box{
		padding: 2rem;
	}
	.top01 .video_wrap .txt p{
		font-size: 1.7rem;
		letter-spacing: 0.1rem;
		margin-top: 2.2rem;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	margin-top: -2rem;
	background: #000;
	text-align: center;
	padding: 6rem 0;
	z-index: 4;
}
.top02 .box{
	width: 80%;
	margin: 0 auto;
}
.top02 .box h2{
	margin-bottom: 3rem;
}
.top02 .box p{
	font-size: 1.2rem;
	line-height: 2.5;
}
.top02 .youtube{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin-top: 5rem;
}
.top02 .youtube iframe{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%!important;
	height: 100%!important;
}
.top02 figcaption{
	font-size: 1rem;
	text-align: right;
}
.top02 .txt{
	text-align: left;
	margin: 1rem 0 4rem;
}
.top02 .waku{ width: 100%; }
.top02 .waku p{ line-height: 1; }
.top02 .txt02 p{
	font-size: 1rem;
}
.top02 .txt02 p a{
	display: inline;
	text-decoration: underline;
	transition: .3s;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03 .outer{
	padding: 8rem 5% 0;
	display: flex;
	justify-content: center;
}
.top03 .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 450px;
	width: 45%;
	max-width: 500px;
	margin-top: -7.5rem;
}
.top03 .box .img{
	width: 70%;
}
.top03 > .outer > .img{
	width: 50%;
	margin-top: auto;
}
.top03 > .outer > .img > img{
	width: 100%;
	opacity: 0.5;
}
.top03 .box p{
	font-size: 1.2rem;
	margin-top: 3rem;
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	.top03 .box .img{
		width: 50%;
	}
	.top03 .box p{
		margin-top: 2rem;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	padding: 0 0 8rem;
}
.top04 .main_img img{
	width: 100%;
}
.top04 .box{
	width: 80%;
	margin: 4rem auto 0;
}
.top04 .box h2{
	font-size: 2.5rem;
	margin-bottom: 5rem;
}
.top04 .box .waku_wrap{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.top04 .box .waku{
	margin-bottom: 2rem;
}
.top04 .box .waku.large p{
	font-size: 3.5rem!important;
}
.top04 .box .waku.small p{
	font-size: 2.2rem!important;
}
.top04 .item{
	display: flex;
	justify-content: space-between;
	margin-bottom: 6rem;
	cursor: pointer;
}
.top04 .item .inner{
	width: 47%;
	cursor: pointer;
}
.top04 .item .inner .img{
	width: 100%;
	height: 25rem;
	overflow: hidden;
}
.top04 .item .inner img{
	transition: .3s;
}
.top04 .item .inner:hover img{
	transform: scale(1.05);
}
.top04 .item .inner .img.undecided{
	color: #b2b3b3;
	background: #151516;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top04 .item .inner .img.undecided p{
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.top04 .item .inner h3{
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
}
.top04 .overlay_area{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.5);
}
.top04 .overlay_box{
	position: absolute;
	width: 100%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0 4rem;
}
.top04 .overlay_box_in{
	overflow: scroll;
	width: 700px;
	height: auto;
	max-height: 100%;
	margin: 0 auto;
	background: #000;
	padding: 2rem;
	box-shadow: 0px 0px 5px 1px #ccc;
	cursor: default;
}
.top04 .overlay_box_in .img img{
	width: 100%;
}
.top04 .overlay_box_in .img{
	margin-bottom: 1.5rem;
}
.top04 .overlay_box_in .txt p{
	font-size: 1.4rem;
	font-weight: bold;
}
.top04 .overlay_box_in .txt p span{
	font-size: 1.1rem;
}
.top04 .overlay_box_in .txt.small{
	margin-top: 2rem;
}
.top04 .overlay_box_in .txt.small p,
.top04 .overlay_box_in .txt.small a{
	font-size: 1.1rem;
}
.top04 .overlay_box_in .txt .period{
	background: #fff;
	margin-top: 1rem;
}
.top04 .overlay_box_in .txt .period p{
	color: #040000;
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
	padding: 0.25rem 0.5rem;
}

.top04 .box02{
	text-align: center;
}
.top04 .box02 .txt p{
	font-size: 1rem;
	font-weight: bold;
}
.top04 .box02 .txt p a{
	display: inline;
	text-decoration: underline;
	transition: .3s;
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	.top04 .box h2{
		font-size: 2.2rem;
		margin-bottom: 4rem;
	}
	.top04 .box .waku.large p{
		font-size: 3rem!important;
	}
	.top04 .box .waku.small p{
		font-size: 2rem!important;
	}
	.top04 .item .inner .img{
		height: 15rem;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05 .outer{
	padding: 2rem 5% 0;  
	display: flex;
	justify-content: center;
}
.top05 .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 450px;
	width: 45%;
	max-width: 500px;
}
.top05 .box .img{
	width: 70%;
}
.top05 > .outer > .img{
	width: 50%;
	height: 100%;
	margin-top: auto;
}
.top05 > .outer > .img > img{
	width: 100%;
	opacity: 0.5;
}
.top05 .box .waku{
	margin-top: 3rem;
}
.top05 .box .waku a{
	font-size: 1.5rem!important;
	padding: 1rem;
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	.top05 .box .img{
		width: 50%;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	text-align: center;
	padding: 6rem 0;
}
.top06 .box{
	width: 80%;
	margin: 0 auto;
}
.top06 .box h2{
	display: inline-block;
	margin-bottom: 5rem;
}
.top06 .box h2 img{
	width: 100%;
}
.top06 .box02{
	display: flex;
	justify-content: center;
}
.top06 .box02 .item{
	border-right: solid 1px #fff;
}
.top06 .box02 .item:nth-of-type(3){
	border-right: none;
}
.top06 .box02 .item h3{
	font-size: 2.5rem;
}
.top06 .box02 .item .img{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
}
.top06 .box02 .item p{
	font-size: 1.2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	padding: 6rem 0 4rem;
}
.top07 .box{
	width: 80%;
	margin: 0 auto;
}
.top07 .box .ttl{
	margin-bottom: 2rem;
}
.top07 .box .ttl h2{
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 2.2;
	letter-spacing: 0.2rem;
	color: #040000;
	display: inline;
	background: #f6c900;
	padding: 0.75rem 0.5rem;
}
.top07 .box .img02{
	width: 80%;
	margin: 8rem auto 0;
	transition: .3s;
}
.top07 .box .img02:hover{
	opacity: 0.7;
}
.top07 .box .notice_wrap{
	text-align: center;
	margin-top: 8rem;
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	.top07 .box .ttl h2{
		font-size: 1.8rem;
		line-height: 2.2;
		letter-spacing: 0.1rem;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */